__pycache__/candidate_parse.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/file_loader.cpython-310.pyc
__pycache__/job_parse.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/result.cpython-310.pyc
__pycache__/resume_loader.cpython-310.pyc
__pycache__/main.cpython-310.pyc
config.py
